
@{
    ViewData["Title"] = "About";
}
<font color= white>
<h2>The Great Library of Alexandria</h2>
<p>
    Once the largest library in the ancient world, and containing works by the greatest thinkers and writers of antiquity, including Homer, Plato, Socrates and many more, the Library of Alexandria,  northern Egypt, is popularly believed to have been destroyed in a huge fire around 2000 years ago and its volumous works lost.

    Since its destruction this wonder of the ancient world has haunted the imagination of poets, historians, travellers and scholars, who have lamented the tragic loss of knowledge and literature. Today, the idea of a 'Universal Library' situated in a city celebrated as the centre of learning in the ancient world, has attained mythical status.

    The mystery has been perpetuated by the fact that no architectural remains or archaeological finds that can definitely be attributed to the ancient Library have ever been recovered, surprising for such a supposedly renowned and imposing structure. This lack of physical proof has even persuaded some to wonder if the fabulous Library actually existed at all in the form popularly imagined.
</p>
<h3> The Burning of the Library</h3>
<p>
    The infamous destruction by fire of the Library of Alexandria, with the consequent loss of the most complete collection of ancient literature ever assembled, has been a point of heated debate for centuries. What exactly happened to this amazing storehouse of ancient knowledge, and who was responsible for its burning? However, it is probable 'the greatest catastrophe of the ancient world', may never have taken place on the scale often supposed.

    The prime suspect in destruction of the Library of Alexandria is Julius Caesar. It is alleged that during Caesar's occupation of the city of Alexandria in 48 BCE, he found himself in the Royal Palace, hemmed in by the Egyptian fleet in the harbour. For his own safety he had his men set fire to the Egyptian ships, but the fire got out of control and spread to the parts of the city nearest the shore, which included warehouses, depots and some arsenals.
</p>
<h4>The Library's Resurrection</h4>
<p>2,066 years later, the Library of Alexandria has been resurrected through a C# program created by Jake Collins and Dylan Rule as a part of their Midterm project for Grand Circus. </p>
</font>