@{
    ViewData["Title"] = "Alexandria Memorial Library";
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>The Alexandria Memorial Library welcomes you to our archives</p>
        
    </div>
