@{
    ViewData["Title"] = "Home Page";
}
    <font color=white>

        <div class="text-center">
            <h1 class="display-4">Welcome to the Alexandria Memorial Library Database</h1>
            <p> Please select a tab to continue</p>
            @*<p> The time on the server is @DateTime.Now</p>*@

        </div>
        </font>