@{
    ViewData["Title"] = "Search for a Book";
}

<font color=white>

    <h1>@ViewData["Title"]</h1>

    <p>Select an option below on how you would like to search for a book:</p>
    <p> Title</p>
    <p> Author</p>
    <p> ISBN</p>
    <p> Genre</p>
    <p> Display All Books</p>
    </font>